<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>rn-respect-connect-builder</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>BuildMessageXDI</display-name>
		<servlet-name>BuildMessageXDI</servlet-name>
		<servlet-class>net.respectnetwork.respectconnect.builder.BuildMessageXDI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuildMessageXDI</servlet-name>
		<url-pattern>/BuildMessageXDI</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>BuildLinkContractTemplateXDI</display-name>
		<servlet-name>BuildLinkContractTemplateXDI</servlet-name>
		<servlet-class>net.respectnetwork.respectconnect.builder.BuildLinkContractTemplateXDI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuildLinkContractTemplateXDI</servlet-name>
		<url-pattern>/BuildLinkContractTemplateXDI</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>BuildMetaLinkContractXDI</display-name>
		<servlet-name>BuildMetaLinkContractXDI</servlet-name>
		<servlet-class>net.respectnetwork.respectconnect.builder.BuildMetaLinkContractXDI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuildMetaLinkContractXDI</servlet-name>
		<url-pattern>/BuildMetaLinkContractXDI</url-pattern>
	</servlet-mapping>

</web-app>
